
profiles:
  gateway:
    name: Gateway
    traces:
      iu_0_temp:
        name: IU 0 Temp
        unit: "°C"
        color: 0xFFFFFF4D
        drawStyle: Lines
        visible: WhenData
        includeLogs:
          SoftwareId: SmarthomeGateway
          LogCode: Hvac_ActualTempChanged
          DeviceId: 0

      iu_0_setpoint: 
        name: IU 0 Setp
        unit: "°C"
        color: 0xFFFF4D4D
        drawStyle: NonInterpolatedLine
        drawOption: ExtendEnd
        visible: WhenData
        includeLogs:
          SoftwareId: SmarthomeGateway
          LogCode: Hvac_SetpointChanged
          DeviceId: 0

      iu_0_mode: 
        name: IU 0 Mode
        unit: ""
        color: 0xFFFF3D3D
        drawStyle: State
        drawOption: ExtendEnd, DrawNames
        visible: WhenData
        offset: -9
        stateNames:
          0: Off	      
          1: Heating   
          2: Cooling	      
          3: Auto           
          4: Unknown	      
        includeLogs:
          SoftwareId: SmarthomeGateway
          LogCode: Hvac_ModeChanged
          DeviceId: 0

      iu_0_heatingActive:
        name: IU 0 Heating Active
        unit: ""
        color: 0xFFFF6F00
        drawStyle: State
        drawOption: ExtendEnd, DrawNames
        visible: WhenData
        offset: -10.5
        stateNames:
          0: Inactive
          1: Active
        includeLogs:
          SoftwareId: SmarthomeGateway
          LogCode: Hvac_HeatingActiveChanged
          DeviceId: 0

      iu_0_coolingActive:
        name: IU 0 Cooling Active
        unit: ""
        color: 0xFF0074CC
        drawStyle: State
        drawOption: ExtendEnd, DrawNames
        visible: WhenData
        offset: -12
        stateNames:
          0: Inactive
          1: Active
        includeLogs:
          SoftwareId: SmarthomeGateway
          LogCode: Hvac_CoolingActiveChanged
          DeviceId: 0

      iu_0_fault: 
        name: IU 0 Fault
        unit: ""
        color: 0xFFFF3D3D
        drawStyle: State
        drawOption: ExtendEnd, DrawNames
        visible: WhenData
        offset: -13.5
        includeLogs:
          SoftwareId: SmarthomeGateway
          LogCode: Hvac_FaultCodeChanged
          DeviceId: 0

          