
profiles:
  gateway:
    name: Gateway
    traces:
      iu_2_temp:
        name: IU 2 Temp
        unit: "°C"
        color: 0xFFFFFF4D
        drawStyle: Lines
        visible: WhenData
        includeLogs:
          SoftwareId: SmarthomeGateway
          LogCode: Hvac_ActualTempChanged
          DeviceId: 2

      iu_2_setpoint: 
        name: IU 2 Setp
        unit: "°C"
        color: 0xFFFF4D4D
        drawStyle: NonInterpolatedLine
        drawOption: ExtendEnd
        visible: WhenData
        includeLogs:
          SoftwareId: SmarthomeGateway
          LogCode: Hvac_SetpointChanged
          DeviceId: 2

      iu_2_mode: 
        name: IU 2 Mode
        unit: ""
        color: 0xFFFF3D3D
        drawStyle: State
        drawOption: ExtendEnd, DrawNames
        visible: WhenData
        offset: -21
        stateNames:
          0: Off	      
          1: Heating   
          2: Cooling	      
          3: Auto           
          4: Unknown	   
        includeLogs:
          SoftwareId: SmarthomeGateway
          LogCode: Hvac_ModeChanged
          DeviceId: 2

      iu_2_fault: 
        name: IU 2 Fault
        unit: ""
        color: 0xFFFF3D3D
        drawStyle: State
        drawOption: ExtendEnd, DrawNames
        visible: WhenData
        offset: -24
        includeLogs:
          SoftwareId: SmarthomeGateway
          LogCode: Hvac_FaultCodeChanged
          DeviceId: 2
