
profiles:
  gateway:
    name: Gateway
    traces:
      iu_1_temp:
        name: IU 1 Temp
        unit: "°C"
        color: 0xFFFFFF4D
        drawStyle: Lines
        visible: WhenData
        includeLogs:
          SoftwareId: SmarthomeGateway
          LogCode: Hvac_ActualTempChanged
          DeviceId: 1

      iu_1_setpoint: 
        name: IU 1 Setp
        unit: "°C"
        color: 0xFFFF4D4D
        drawStyle: NonInterpolatedLine
        drawOption: ExtendEnd
        visible: WhenData
        includeLogs:
          SoftwareId: SmarthomeGateway
          LogCode: Hvac_SetpointChanged
          DeviceId: 1


      iu_0_mode: 
        name: IU 0 Mode
        unit: ""
        color: 0xFFFF3D3D
        drawStyle: State
        drawOption: ExtendEnd, DrawNames
        visible: WhenData
        offset: -15
        stateNames:
          0: Off	      
          1: Heating   
          2: Cooling	      
          3: Auto           
          4: Unknown	      
        includeLogs:
          SoftwareId: SmarthomeGateway
          LogCode: Hvac_ModeChanged
          DeviceId: 0

      iu_1_heatingActive:
        name: IU 1 Heating Active
        unit: ""
        color: 0xFFFF6F00
        drawStyle: State
        drawOption: ExtendEnd, DrawNames
        visible: WhenData
        offset: -16.5
        stateNames:
          0: Inactive
          1: Active
        includeLogs:
          SoftwareId: SmarthomeGateway
          LogCode: Hvac_HeatingActiveChanged
          DeviceId: 1

      iu_1_coolingActive:
        name: IU 1 Cooling Active
        unit: ""
        color: 0xFF0074CC
        drawStyle: State
        drawOption: ExtendEnd, DrawNames
        visible: WhenData
        offset: -18
        stateNames:
          0: Inactive
          1: Active
        includeLogs:
          SoftwareId: SmarthomeGateway
          LogCode: Hvac_CoolingActiveChanged
          DeviceId: 1

      iu_1_fault: 
        name: IU 1 Fault
        unit: ""
        color: 0xFFFF3D3D
        drawStyle: State
        drawOption: ExtendEnd, DrawNames
        visible: WhenData
        offset: -19.5
        includeLogs:
          SoftwareId: SmarthomeGateway
          LogCode: Hvac_FaultCodeChanged
          DeviceId: 1
