
profiles:
  gateway:
    name: Gateway
    traces:
      iu_3_temp:
        name: IU 3 Temp
        unit: "°C"
        color: 0xFFFFFF4D
        drawStyle: Lines
        visible: WhenData
        includeLogs:
          SoftwareId: SmarthomeGateway
          LogCode: Hvac_ActualTempChanged
          DeviceId: 3

      iu_3_setpoint: 
        name: IU 3 Setp
        unit: "°C"
        color: 0xFFFF4D4D
        drawStyle: NonInterpolatedLine
        drawOption: ExtendEnd
        visible: WhenData
        includeLogs:
          SoftwareId: SmarthomeGateway
          LogCode: Hvac_SetpointChanged
          DeviceId: 3

      iu_3_mode: 
        name: IU 3 Mode
        unit: ""
        color: 0xFFFF3D3D
        drawStyle: State
        drawOption: ExtendEnd, DrawNames
        visible: WhenData
        offset: -25.5
        stateNames:
          0: Off	      
          1: Heating   
          2: Cooling	      
          3: Auto           
          4: Unknown	   
        includeLogs:
          SoftwareId: SmarthomeGateway
          LogCode: Hvac_ModeChanged
          DeviceId: 3

      iu_3_fault: 
        name: IU 3 Fault
        unit: ""
        color: 0xFFFF3D3D
        drawStyle: State
        drawOption: ExtendEnd, DrawNames
        visible: WhenData
        offset: -28.5
        includeLogs:
          SoftwareId: SmarthomeGateway
          LogCode: Hvac_FaultCodeChanged
          DeviceId: 3
