profiles:
  gateway:
    name: Gateway
    traces:
      Smarthome:
        name: Smarthome
        unit: ""
        color: 0xFF1FFF53
        offset: -3
        drawStyle: State
        drawOption: ExtendEnd, DrawNames
        visible: Always
        stateNames:
          0: Vacant
          1: Preheating
          2: Occupied
          3: VacantWarm
          4: TempOverride
          5: Initializing
          6: NightTime
        includeLogs:
          SoftwareId: SmarthomeGateway
          LogCode: SmartHomeStateChanged
      Heatmanager:
        name: Heatmanager
        unit: ""
        color: 0xFF18CC43
        offset: -4.5
        drawStyle: State
        drawOption: ExtendEnd, DrawNames
        visible: Always
        stateNames:
          0: Initializing
          1: Wait
          2: Cooling
          3: Heating
          4: Off
          5: FrostProtection
        includeLogs:
          SoftwareId: SmarthomeGateway
          LogCode: HeatmanagerStateChanged